<h2>Edit movie</h2>


<form method="post" action="/movies/{{movies._id}}/edit">

    <label>Title:
    <input type="text" name="title" value="{{movies.title}}"/>
    </label>
    <br/>
    <label>Genre:
    <input type="text" name="genre"value="{{movies.genre}}"/>
    </label>
    <br/>
    <label>Plot:
    <textarea type="text" name="plot"value="{{movies.plot}}">{{movies.plot}}</textarea>
    </label>

    <br/>
    <label>Cast:
    <select type="text" name="cast" multiple>
        {{#each celebrities}}
            <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>
    </label>
    <br/>
    <button type="submit">Update movie</button>

</form>